<div class="jumbotron">
  <h1>In-Context Checkout</h1>
  <p class="lead">
    Brought to you by...<br />
    <img src="images/pp_mark_icon.png" alt="PayPal"><br>
  </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Order Details</h3>
        <hr />
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped">
                    <tr><th>Item Name</th><th>Item Desc.</th><th>Quantity</th><th>Price Each</th></tr>
                    <tr ng-repeat="item in model.pmtData.transactions[0].item_list.items">
                        <td>{{item.name}}</td><td>{{item.description}}</td><td>{{item.quantity}}</td><td>{{item.price | currency: model.currencySymbol}}</td>
                    </tr>
                    <tr><td colspan="2"></td><td><strong>Subtotal:</strong></td><td>{{model.pmtData.transactions[0].amount.details.subtotal | currency: model.currencySymbol}}</td></tr>
                    <tr><td colspan="2"></td><td><strong>Shipping:</strong></td><td>{{model.pmtData.transactions[0].amount.details.shipping | currency: model.currencySymbol}}</td></tr>
                    <tr><td colspan="2"></td><td><strong>Total:</strong></td><td><strong>{{model.pmtData.transactions[0].amount.total | currency: model.currencySymbol}}</strong></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <div class="pull-right" id="paypalForm"></div>
    </div>
</div>
<div style="margin-bottom: 30px;"></div>
